In [39]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
tables = pd.read_html(URL)
df = tables[0]
print(df)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
94    95                           Bank of Ningbo
95    96                                SEB Group
96    97                         Raiffeisen Group
97    98                            Handelsbanken
98   100                                      DNB

    Total assets (2023) (US$ billion)
0                             6303.44
1                             5623.12
2                             5400.28
3                             4578.28
4                             3875.39
..                                ...
94                             365.96
95                             358.79
96                             352.87
97                             351.79
98                             339.21

[99 rows x 3 columns]

In [40]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
tables = pd.read_html(URL)
df = tables[2]
print(df)

    Country/Territory IMF[1][13]            World Bank[14]             \
    Country/Territory   Forecast       Year       Estimate       Year
0               World  109529216       2024      105435540       2023
1       United States   28781083       2024       27360935       2023
2               China   18532633  [n 1]2024       17794782  [n 3]2023
3             Germany    4591100       2024        4456081       2023
4               Japan    4110452       2024        4212945       2023
..                ...        ...        ...            ...        ...
205          Kiribati        311       2024            279       2023
206             Palau        308       2024            263       2023
207  Marshall Islands        305       2024            284       2023
208             Nauru        161       2024            154       2023
209            Tuvalu         66       2024             62       2023

    United Nations[15]
              Estimate       Year
0            100834796       2022
1             25744100       2022
2             17963170  [n 1]2022
3              4076923       2022
4              4232173       2022
..                 ...        ...
205                223       2022
206                225       2022
207                279       2022
208                147       2022
209                 59       2022

[210 rows x 7 columns]

In [41]:
df.to_csv('List_countries_gpd.csv', index=False)

In [42]:
import pandas as pd
df = pd.read_csv('List_countries_gpd.csv')
# print(df[1:3])
print(df['Country/Territory'])

0      Country/Territory
1                  World
2          United States
3                  China
4                Germany
             ...
206             Kiribati
207                Palau
208     Marshall Islands
209                Nauru
210               Tuvalu
Name: Country/Territory, Length: 211, dtype: object

In [61]:

import requests
import pandas as pd
from bs4 import BeautifulSoup

# Corrected URL format
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
response = requests.get(url)

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table you are interested in
# For example, if you want the first table on the page
table = soup.find('table', {'class': 'wikitable'})

# Extract table rows
rows = table.find_all('tr')

# Extract headers
headers = [header.text.strip() for header in rows[0].find_all('th')]

# Extract table data
data = []
for row in rows[1:]:
    cells = row.find_all('td')
    cells = [cell.text.strip() for cell in cells]
    data.append(cells)

# Create DataFrame
df = pd.DataFrame(data, columns=headers)

# Display the DataFrame
print(df.head())

  Rank                                Bank name  \
0    1  Industrial and Commercial Bank of China
1    2               Agricultural Bank of China
2    3                  China Construction Bank
3    4                            Bank of China
4    5                           JPMorgan Chase

  Total assets(2023)(US$ billion)
0                        6,303.44
1                        5,623.12
2                        5,400.28
3                        4,578.28
4                        3,875.39

In [ ]:
import requests
from bs4 import BeautifulSoup
page = requests.get(""")
soup = BeautifulSoup(page, "html.parser")
artists =soup.find_all("a")
for artist in artists:
    name = artists.content[0]
    fullLink = artist.get('href')
    print(name)
    print(fullLink)